.main-conatiner {
    //border: 1px solid gray;
   
  border-color: transparent;    margin-top: 0%;
    width: 87%;
    margin-left: 7%;
    // margin: 10px;
    // padding: 10px;
    justify-content: center;
  }
.form-conatiner{
  // border: 1px solid gray;
   margin: 20px;
  // padding: 10px;
  border-color: black; 
  width: 55%;
  margin-left: 14%;
  // border:  1px #555;
  border:slategrey 1px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
  height: auto;
}


  .row{
    border: 1px solid gray;
   height: auto;
    width: 55%;
    border:slategrey 1px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
    margin-left: 14%;
   
    
  }
  .card2 {
    height: auto;
    width: 240px;
    // background-color: pink;
    align-items: center;
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
    align-content: center;
}
.column1 {
    float: left;
    width: 35%;
    padding: 0px;
    // height: auto; /* Should be removed. Only for demonstration */
  }
  .row1:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid gray;
    height: auto;
     width: 55%;
     border:slategrey 1px;
     box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
     margin-left: 14%;
  }
form {
    width: 40rem;
  }
  mat-form-field {
    width: 100%;
    
  }
  .name-contact {
    width: 100%;
    display: flex; 
    margin-left: 0%;
    flex-direction: row;
   justify-content: space-around;
   //justify-content: space-between;
    
  }
  .address {
    width: 612px;
    height: 82px;
    //display: flex;
   // flex-direction: row;
    //justify-content: space-around;
     margin-left: 2%;
    // margin-right: 13px;
    //height: 100px;
    
  }
  #address {
    width: 612px;
    height: 82px;;
  }
  .mat-input-element{
      display: flex ;
      height: 40px;
  }

  
  .example-section {
    display: flex;
    text-align: left;
   // align-content: center;
    align-items: center;
   // float: left;
    height:auto;
    
    width: 90%;
     margin-left: 11%;
    
  }
  
  .example-margin {
    display: flex;
   // align-content: center;
    text-align: left;
   // float: left;
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    height: auto;
    width: 240px;
    background-color: white;
    align-items: center;
   //box-shadow: 0 0 1px rgba(0,0,0,0.6);
    align-content: center;
}
.card1 {
  height:auto;
  width: 240px;
  background-color: white;
  align-items: center;
 //box-shadow: 0 0 1px rgba(0,0,0,0.6);
  align-content: center;
}
// .column {
//     float: left;
//     width:100%;
//     padding: 0px;
   
//   }
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  .details{
    //  background-color: rgba(224, 34, 34, 0.829);
    display: flex;
     width: 50%;
     height: 50%;
      float: left;
      
       margin-left: 9em; 
       margin-top: -9em;
  }
  .bookimage{
      height: 60%;
      width: 40%;
    margin-left: 13%;
      align-content: center;
      box-shadow: 0 1 0 7px rgba(0,0,0,0.6);
  }
  .author{
      float: left;
      margin-left: -2.1em;
      font-size: 12px;
      color: slategrey;
    padding-top:12px; 
    
      }
      .bookname{
          margin-left:10%; 
          font-size: 20px;
          font-style: bold;
      }
   .price{
    float: left;
       margin-left: -6em;
      font-size: 16px;
      
     padding-top: 28px;
   }   

 
   .buttons{
       background-color: transparent;
       width: 100%;
   }
.button3{
  display: flexbox;
    margin-left: 70%;
    font-size: 10px;
    width: 151px;
    height: 35px;
       background-color: #3371B5;
       border-color: #3371B5;
       color: white;
       
       outline:rgba(224, 34, 34, 0.829);
    
   }
   .button2{
    margin-left: 60%;
    display: flexbox;
    //float: right;
  
   margin-bottom: 7%;
   font-size: 10px;
   width: 151px;
height: 35px;
      background-color: #3371B5;
      border-color: #3371B5;
      color: white;
      
      outline:rgba(224, 34, 34, 0.829);
   
  }
  .dobutton{
    display: flex;
    justify-content: right;
    
   // display: flexbox;
    //float: right;
    //margin-bottom: 3%;
    //margin-right: 5.6em;
  }
   .button1{
     display: flexbox;
    margin-left: 55em;
    margin-bottom: 7%;
    font-size: 10px;
    width: 151px;
height: 35px;
       background-color: #3371B5;
       border-color: #3371B5;
       color: white;
       
       outline:rgba(224, 34, 34, 0.829);
    
   }
//    :host ::ng-deep.mat-radio-outer-circle {
  
//     color: orange;
// }
:host ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:orange;
}
