// .main-conatiner {
//     border: 1px solid gray;
//     margin: 10px;
//     padding: 10px;
//     justify-content: center;
//   }
.form-conatiner{
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}


  .row{
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    
  }
form {
    width: 40rem;
  }
  mat-form-field {
    width: 100%;
    
  }
  .name-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   //justify-content: space-between;
    
  }
  .address {
    width: 82%;
    //display: flex;
   // flex-direction: row;
    //justify-content: space-around;
     margin-left: 9%;
    // margin-right: 13px;
    //height: 100px;
    
  }
  #address {
    height: 60px;
  }
  .mat-input-element{
      display: flex ;
      height: 40px;
  }

  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
    
  }
  .card {
    height: 280px;
    width: 240px;
    background-color: white;
    align-items: center;
   //box-shadow: 0 0 1px rgba(0,0,0,0.6);
    align-content: center;
}
// .column {
//     float: left;
//     width:100%;
//     padding: 0px;
   
//   }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .bookimage{
      height: 120px;
      width: 100px;
     
      margin-left: 69px;
        padding-top: 1em;
        
      align-content: center;
      box-shadow: 0 1 0 7px rgba(0,0,0,0.6);
  }
  .author{
      float: center;
      margin-left: 10%;
      font-size: 8px;
      color: slategrey;
      padding-top: -1em;
      }
      .bookname{
          margin-left:10%;
          padding-top: 1em;
          font-size: 14px;
          font-style: bold;
      }
   .price{
    margin-left: 10%;
    padding-top: -4PX;
    font-size: 14px;
   }   

   .buttons{
       background-color: transparent;
       width: 100%;
   }
.button3{
  display: flexbox;
    margin-left: 60%;
    font-size: 10px;
    height: 26px;
    width: 200px;
       background-color: rgba(36, 120, 230, 0.829);
       border-color: rgba(36, 120, 230, 0.829);
       color: white;
       
       outline:rgba(224, 34, 34, 0.829);
    
   }
   .button1{
     display: flexbox;
    margin-left: 165%;
    font-size: 10px;
    height: 26px;
    width: 200px;
       background-color: rgba(36, 120, 230, 0.829);
       border-color: rgba(36, 120, 230, 0.829);
       color: white;
       
       outline:rgba(224, 34, 34, 0.829);
    
   }