.main-conatiner {//border-color: black; 
          margin-top: 0%;
    width: 84.9%;
    margin-left: 8%;
    
    //border:slategrey 1px;
    //box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
    justify-content: center;
  }
.form-conatiner{
  // border: 1px solid gray;
   margin: 20px;
 padding: 10px;
  border-color: black; 
  width: 54%;
  margin-left: 14%;
  
  // border:  1px #555;
  border:slategrey 1px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
  height: auto;
}

.row{
  
  margin: 20px;
  //padding: 10px;
   border-color: black; 
   width: 55%;
   margin-left: 14%;
   
   // border:  1px #555;
   border:slategrey 1px;
   box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
   height: auto;
  }
  .row2{
  
  //margin: 20px;
  //padding: 10px;
   border-color: black; 
   width: 54%;
   margin-left: 14%;
   
   // border:  1px #555;
   border:slategrey 1px;
   box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
   height: auto;
  }
  .card2 {
    height: auto;
    width: 240px;
    // background-color: pink;
    align-items: center;
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
    align-content: center;
}
.column1 {
    float: left;
    width: 35%;
    padding: 0px;
    // height: auto; /* Should be removed. Only for demonstration */
  }
  .row1:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid gray;
    height: auto;
     width: 55%;
     border:slategrey 1px;
     box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
     margin-left: 14%;
  }
form {
    width: 40rem;
  }
  mat-form-field {
    width: 100%;
    
  }
  .name-contact {
    width: 100%;
    display: flex; 
    margin-left: 0%;
    flex-direction: row;
   justify-content: space-around;
   //justify-content: space-between;
    
  }
  .address {
    width: 612px;
    height: 82px;
    //display: flex;
   // flex-direction: row;
    //justify-content: space-around;
     margin-left: 2%;
    // margin-right: 13px;
    //height: 100px;
    
  }
  #address {
    width: 612px;
    height: 82px;;
  }
  .mat-input-element{
      display: flex ;
      height: 40px;
  }

  
  .example-section {
    display: flex;
    text-align: left;
   // align-content: center;
    align-items: center;
   // float: left;
    height:auto;
    
    width: 90%;
     margin-left: 11%;
    
  }
  
  .example-margin {
    display: flex;
   // align-content: center;
    text-align: left;
   // float: left;
    flex-direction: row; padding-left: -1em;
    justify-content: space-around;
  }
  
  .card {display: flex;
    height: auto;
    width: 240px;
    background-color: white;
    align-items: center;
   //box-shadow: 0 0 1px rgba(0,0,0,0.6);
    align-content: center;
}
.card1 {
  height:auto;display: flex;
  width: 240px;
  background-color: white;
  align-items: center;
 //box-shadow: 0 0 1px rgba(0,0,0,0.6);
  align-content: center;
}
// .column {
//     float: left;
//     width:100%;
//     padding: 0px;
   
//   }
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  .details{
    // background-color: rgba(224, 34, 34, 0.829);
    display: flex;
     width: 100%;
     height: 50%;margin-left: 1em;
        margin-top: 0em;
  }.details1{
    // background-color: rgba(224, 34, 34, 0.829);
    display: flex;
     width: 100%;
     height: 50%;margin-left: 1em;
        margin-top: 0em;
  }
  
  .bookimage{
      height: 60%;
      width: 40%;
    margin-left: 13%;
      align-content: center;
      box-shadow: 0 1 0 7px rgba(0,0,0,0.6);
  }

  .author{
    float: center;
    margin-left: -3em;
    font-size: 10px;
    color: slategrey;
    padding-top: 10px
    }
    .bookname{
        margin-left:10%;
        padding-top: 0em;
        font-size: 14px;
        font-style: bold;
    }
 .price{
 margin-left: -2.3em;
  padding-top: 40PX;
  font-size: 15px;
 }   

 .author1{
  float: center;
  margin-left: -3em;
  font-size: 10px;
  color: slategrey;
  padding-top: 10px
  }
  .bookname1{
      margin-left:10%;
      padding-top: 0em;
      font-size: 14px;
      font-style: bold;
  }
.price1{
margin-left: -4.34em;
padding-top: 20PX;
font-size: 15px;
} 
   .buttons{
       background-color: transparent;
       width: 100%;
   }
.button3{
  display: flexbox;
    margin-left: 90%;
    font-size: 14px;
    width: 151px;
    height: 35px;
       background-color: #3371B5;
       border-color: #3371B5;
       color: white;
       
       outline:rgba(224, 34, 34, 0.829);
    
   }
   .button2{
    margin-left: 70%;
    display: flexbox;
    //float: right;
  
   margin-bottom: 7%;
   font-size: 14px;
   width: 151px;
height: 35px;
      background-color: #3371B5;
      border-color: #3371B5;
      color: white;
      
      outline:rgba(224, 34, 34, 0.829);
   
  }
  .dobutton{
    display: flex;
    justify-content: right;
    
   // display: flexbox;
    //float: right;
    //margin-bottom: 3%;
    //margin-right: 5.6em;
  }
   .button1{
     display: flexbox;
     //position: fixed;
    margin-left: 20em;
    margin-top: 30%;
    font-size: 14px;
    width: 151px;
    height: 35px;
       background-color: #3371B5;
       border-color: #3371B5;
       color: white;
       border-radius: 3px;
       outline:rgba(224, 34, 34, 0.829);
       font: Medium 14px/17px Lato;
       opacity: 1;
       outline: none;
   box-shadow: none;
    
   }
//     :host ::ng-deep.mat-radio-outer-circle {
//       background-color: transparent;
//     color: red;
// }
// :host ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
//   background-color:orange;
// }.mat-radio-button.mat-accent .mat-radio-inner-circle{
//   background-color:blue;
// }
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.5 !important; /*click effect color change*/
  background-color: white!important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: blue!important; /*inner circle color change*/
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:blue!important; /*outer ring color change*/
  }
  