<app-toolbar></app-toolbar>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <div class="main-conatiner">
        <!-- <ng-template matStepLabel>My Cart</ng-template> -->

        <div class="row">
          <div class="column">
            <div>
              <mat-card-title style="margin-left: 30px;">My Cart</mat-card-title>
            </div>
          <mat-card class="card" style="padding: 0px;">
              <img src="assets\bookimage\bookimage.jpg" class="bookimage" /><br><br>
              <span class="bookname" style="font-family: 'Raleway', sans-serif; ">{{books.bookName}}</span><br>
              <h2 class="author" style="font-family: 'Raleway', sans-serif;">by {{books.authorName}}</h2>
              <h2 class="price" >Rs.{{books.price}}</h2>
              <div class="buttons">
                  <button class="button1"  style="font-family: 'Raleway', sans-serif;">PLACE ORDER</button>
              </div>
          </mat-card>
      
          </div>
          </div>
        <div class="form-conatiner">
            <mat-card fxLayoutAlign="center center" fxLayout="column">
              <div>
                <mat-card-title>Customer Details</mat-card-title>
              </div>
              <form [formGroup]="customerForm"noval>
                <mat-card-content>
                  <div class="name-contact">
                    <div fxFlex="45">
                      <mat-form-field appearance="outline">
                        <input  id="customerName"  matInput  formControlName="customerName"  placeholder="Name"   autocomplete="off"  required    />
                      </mat-form-field>
                      <!-- <span style="font-size: 15px; margin-bottom: 6px;">
                        <mat-error
                          *ngIf="f.customerName.touched && f.customerName.errors"
                          class="invalid-feedback"
                        >
                          <mat-error *ngIf="f.customerName.errors.required">
                            Name is required</mat-error
                          >
                        </mat-error>
                      </span> -->
                    </div>
                    <div fxFlex="45">
                      <mat-form-field appearance="outline">
                        <input   id="contact"  matInput  formControlName="contact"  placeholder="Phone number"  autocomplete="off"  required    />
                      </mat-form-field>
                      <!-- <span style="font-size: 15px; margin-top: 10px;">
                        <mat-error
                          *ngIf="f.contact.touched && f.contact.errors"
                          class="invalid-feedback"
                        > 
                          <mat-error *ngIf="f.contact.errors.required">
                            *phone number is required</mat-error
                          >
                          <mat-error
                            *ngIf="!f.contact.errors.required && f.contact.errors"
                          >
                            *phone must be 10 digit</mat-error
                          >
                        </mat-error> 
                      </span> -->
                    </div>
                  </div>
      
                  <div class="name-contact">
                    <div fxFlex="45">
                      <mat-form-field appearance="outline">
                        <input  id="pinCode"  matInput  formControlName="pinCode"  placeholder="Pincode"autocomplete="off"required/>
                      </mat-form-field>
                      <!-- <span>
                        <mat-error *ngIf="f.pinCode.touched && f.pinCode.errors">
                          <mat-error *ngIf="f.pinCode.errors.required">
                            Required
                          </mat-error>
                          <mat-error
                            *ngIf="!f.pinCode.errors.required && f.pinCode.errors"
                          >
                            Invalid PinCode
                          </mat-error>
                        </mat-error>
                      </span> -->
                    </div>
                    <div fxFlex="45">
                      <mat-form-field appearance="outline">
                        <input  id="locality"  matInput  formControlName="locality"  placeholder="Locality"  autocomplete="off" required/>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="address">
                  <div >
                    <mat-form-field class="address-field" appearance="outline">
                      <input id="address" matInput formControlName="address" placeholder="Address" autocomplete="off" required/>
                   
                    </mat-form-field>
                  </div></div>
                  <div class="name-contact" style="margin-top: 15px;">
                    <div fxFlex="45">
                      <mat-form-field appearance="outline">
                        <input   id="city"  matInput formControlName="city" placeholder="City" autocomplete="off" required/>
                      </mat-form-field>
                    </div>
                    <div fxFlex="45">
                      <mat-form-field appearance="outline">
                        <input id="landMark" matInput formControlName="landMark" placeholder="Landmark" autocomplete="off" required/>
                      </mat-form-field>
                    </div>
                  </div>
                  <section class="example-section">
                    <label class="example-margin">Type:</label>
                    <mat-radio-group >
                      <mat-radio-button class="example-margin" value="Home">Home</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Work">Work</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Other">Other</mat-radio-button>
                    </mat-radio-group>
                  </section>
                  </mat-card-content>
                  <div class="buttons">
                    <button class="button3"  style="font-family: 'Raleway', sans-serif;">CONTINUE</button>
                </div>
                  </form>
                  </mat-card>
                  </div>


                  <div class="row">
                    <div class="column">
                      <div>
                        <mat-card-title style="margin-left: 30px;">Order Summary</mat-card-title>
                      </div>
                    <mat-card class="card" style="padding: 0px;">
                        <img src="assets\bookimage\bookimage.jpg" class="bookimage" /><br><br>
                        <span class="bookname" style="font-family: 'Raleway', sans-serif; ">{{books.bookName}}</span><br>
                        <h2 class="author" style="font-family: 'Raleway', sans-serif;">by {{books.authorName}}</h2>
                        <h2 class="price" >Rs.{{books.price}}</h2>
                        <div class="buttons">
                            <button class="button1"  style="font-family: 'Raleway', sans-serif;">CHECKOUT</button>
                        </div>
                    </mat-card>
                
                    </div>
                    </div>


                  </div>
</mat-step>
</mat-horizontal-stepper>
