<div class="toolbar">
    <img src="assets\bookimage\book.jpg" class="logo" />
    <span class="title">BookStore</span>
    <div class="search">
        
          <div class="searchicon">
            
          </div>
          <div class="searchboxinput">
            
          
            <input  type="text" placeholder="Search" [(ngModel)]="bookName"
            (input)="bookSearch()" class="" style="  display: flex;height: 30px; width: 500px;margin-top: 10px;border-radius: 0.31em;border: none;outline: none;" />
            <img src="assets\bookimage\search.png" style="width: 30px;height:30px;margin-top:10px ;margin-left:-2em">
          </div>
        
      </div>


      <div class="cart" >
        <mat-label class="label">cart</mat-label> 
        <a routerLink="/cart">
          
            <img src="assets\bookimage\cart.jpg"
            style=" display: flex; margin-left: 0px; margin-top: 5px;height: 34px;width: 34px;"/>
        </a>
        <span (output) = "getUpdatedNotes($event)" matBadge="{{length}}" matBadgeOverlap="false" style="color: white;"></span>
      </div>

 </div>
<!-- <app-displaybook></app-displaybook> -->