<div class="toolbar">
    <img src="assets\bookimage\book.jpg" class="logo" />
    <span class="title">BookStore</span>
    <div class="search">
        
          <div class="searchicon">
            <!-- <mat-icon style="font-size: 30px;" prefix>search</mat-icon> -->
          </div>
          <div class="searchboxinput">
            <input  type="text" placeholder="Search" class="" style="  display: flex;height: 30px; width: 500px;margin-top: 5px;border-radius: 0.31em;border: none;outline: none;" />
          </div>
        
      </div>


      <div class="cart" >
          
        <a routerLink="/cart">
            <img src="assets\bookimage\cart.jpg"
            style=" display: flex; margin-left: 180px; margin-top: 8px;height: 40px;width: 40px;"/>
        </a>
      </div>

 </div>
