
<app-toolbar [output] = "leng"></app-toolbar>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   
    <div class="main" >
    <mat-card class="smallcard">
        <mat-toolbar>
            <mat-toolbar-row>
        <div fxLayout = "row">
    <h3 style="font-family: 'Lato', sans-serif;font-size: 25px; float: left;"> Books <span style="font-size: 11px; color: rgb(139, 136, 136);"
        >({{ size }} items)</span
      ></h3>
      <!-- <button (click)="SortNewestArrival()"> Newest Arrivals</button><button (click)="sortingl()"> Low to High</button> <button (click)="sortingh()">High to Low  </button> -->
        </div>    
    <div  style="margin-left: 70%; ">
        <button style="box-shadow: 0 0 1px rgba(0,0,0,0.6); height: 25px;">
    <mat-form-field>
        <select matNativeControl  (change)="modo($event.target.value)" required style="padding-left: 25px; border: none; outline: none;">
          <option value="mod1" style="font-family: 'Lato', sans-serif;"><button (click)="sortingl()"> Low to High</button></option>
          <option value="mod2"style="font-family: 'Lato', sans-serif;"><button (click)="sortingh()">High to Low  </button></option>
          <option value="mod3"style="font-family: 'Lato', sans-serif;"><button (click)="SortNewestArrival()"> Newest Arrivals</button></option>
         
        </select>
      </mat-form-field>
    </button>
 </div>
    </mat-toolbar-row>
    </mat-toolbar>

    <div class="row" *ngIf = "pageEvent"  >
        <div class="column" *ngFor = "let books of boo | booksearchpipe : bookSearch">
        <mat-card class="card" style="padding: 0px;">
          <div style="height: auto ;width: 100%; background-color: #F5F5F5;">
            <img src="assets\bookimage\{{books.image}}" class="bookimage" /><br><br></div>
            <span class="bookname" style="font-family: 'Lato', sans-serif; ">{{books.bookName}}</span><br>
            <h2 class="author" style="font-family: 'Lato', sans-serif;">by {{books.authorName}}</h2>
            <h2 class="price" style="font-family: 'Lato', sans-serif;">Rs.{{books.price}}</h2>
            <div
            class="availablity"
            style="font-size: large;"
            *ngIf="!books.quantity"
          >
            Out Of stock
          </div>
          <div class="buttons">
            
            <div  *ngIf="value[books.bookId]!=books.bookId; else elsecondition" style="margin-left: -13px;"> 
              <button  class="button1" (output) = "getUpdatedNotes($event)" (click)="addtobag( books.bookId)
              "style="font-family: 'Lato', sans-serif;margin-top: 7px;">ADD TO BAG </button>
              <button  class="button2" style="font-family: 'Lato', sans-serif;">WISHLIST</button>
            </div>

            <ng-template  #elsecondition>
              <div style="margin-top: 10px;">
                <button class="button3"  style="font-family: 'Lato', sans-serif;">ADDED TO BAG</button>
              </div>
            </ng-template>
            </div>
        </mat-card>
    
        </div>
        </div>
    
    </mat-card>
    </div> 
    <mat-paginator 
[length] = "lengths" 
[pageSize] = "pageSize" 
(page) = "pageEvent = getData($event)">
    </mat-paginator>

