

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
   
    <div class="main" >
    <mat-card class="smallcard">
        <mat-toolbar>
            <mat-toolbar-row>
        <div fxLayout = "row">
    <h3 style="font-family: 'Montserrat', sans-serif; float: left;"> Books <span style="font-size: 11px; color: rgb(139, 136, 136);"
        >({{ size }} items)</span
      ></h3>
        </div>
    <div fxLayout = "row" style="margin-left: 70%; ">
        <button style="box-shadow: 0 0 1px rgba(0,0,0,0.6); height: 25px;">
    <mat-form-field>
        <select matNativeControl required style="padding-left: 25px;border: none; outline: none;">
          <option value="volvo" style="font-family: 'Montserrat', sans-serif;">Price: Low to High</option>
          <option value="saab"style="font-family: 'Montserrat', sans-serif;">Price: High to Low</option>
          <option value="mercedes"style="font-family: 'Montserrat', sans-serif;">Newest Arrivals</option>
          <option value="audi"style="font-family: 'Montserrat', sans-serif;">Sort by relevance</option>
        </select>
      </mat-form-field>
    </button>
    </div>
    </mat-toolbar-row>
    </mat-toolbar>

    <div class="row">
        <div class="column" *ngFor = "let books of book">
        <mat-card class="card" style="padding: 0px;">
            <img src="assets\bookimage\bookimage.jpg" class="bookimage" /><br><br>
            <span class="bookname" style="font-family: 'Raleway', sans-serif; ">{{books.bookName}}</span><br>
            <h2 class="author" style="font-family: 'Raleway', sans-serif;">by {{books.authorName}}</h2>
            <h2 class="price" >Rs.{{books.price}}</h2>
        
            <div class="buttons">
                
                <button class="button1" style="font-family: 'Raleway', sans-serif;">ADD TO BAG </button>
                <button class="button2" style="font-family: 'Raleway', sans-serif;">WISHLIST</button>
            </div>
        </mat-card>
    
        </div>
        </div>
    
    </mat-card>
    </div> 
   